# RDBMS

An RDBMS is a software system that allows you to create, manage, and maintain relational databases. Relational databases store data in tables with rows and columns. To interact with the database, you use a structured query language (SQL).

Python is a popular programming language that can be used to interact with RDBMSs. There are several Python libraries and modules available that provide easy-to-use interfaces for interacting with databases, such as SQLAlchemy and Django ORM. These libraries allow you to create, read, update, and delete data from the database using Python code.

Using Python to interact with an RDBMS can be useful for a variety of applications, such as web development, data analysis, and machine learning. For example, you might use Python and an RDBMS to store and analyze data for an e-commerce website or to train a machine learning model on large amounts of data.

In summary, an RDBMS is a software system for managing relational databases, and Python is a popular programming language that can be used to interact with RDBMSs and manipulate data stored in them.

## Tables, Columns, Rows

In a relational database, data is stored in tables. 

- A table it's like a spreadsheet with rows and columns.
- Columns are like the headers in a spreadsheet, and each column has a specific type of data, such as text, numbers, or dates.
- Rows are like the individual rows in a spreadsheet, and each row contains the actual data for a specific record.

So, tables organize data into columns and rows, making it easy to manage and retrieve large amounts of structured data.

## Relations (Primary key, Foreign key)

A relation in a relational database is a table that contains data. A primary key is a column or set of columns in a table that uniquely identifies each row in the table. Primary keys are used to ensure that each row in the table is unique and can be used to reference that row from other tables.

A foreign key is a column or set of columns in a table that references the primary key of another table. Foreign keys establish relationships between tables and are used to enforce referential integrity, which means that each reference to a row in another table is valid and points to an existing row.

```
CREATE TABLE orders (
  id SERIAL PRIMARY KEY,
  customer_id INTEGER REFERENCES customers (id),
  order_date DATE,
  total_price DECIMAL
);

```

## Views

In a relational database, a view is a virtual table that is based on the result of a SQL query. A view is created by selecting data from one or more tables, and it appears to the user as if it were a separate table in the database. However, unlike a table, a view does not actually store data itself; it simply provides a way to access data from one or more tables in a different way.

Views are useful because they allow you to simplify complex queries, present data in a customized way, or restrict access to sensitive data. For example, you might create a view that only shows certain columns from a table, or that filters data based on certain criteria.

In addition to simplifying queries and customizing data access, views can also help improve performance by reducing the amount of data that needs to be retrieved from the underlying tables. This is because a view only retrieves data from the underlying tables that is needed to satisfy the query that defines the view.

# Data Manipulation

## Insert

The INSERT statement in SQL is used to insert new data into a table. It allows you to add one or more rows of data to a table. The INSERT statement typically includes the name of the table you want to insert data into, and a list of values that correspond to each column in the table.

```
INSERT INTO customers (name, email, phone)
VALUES ('John Smith', 'john@example.com', '555-1234')
```

## UPDATE

The UPDATE statement in SQL is used to modify existing data in a table. It allows you to change the values of one or more columns for one or more rows in a table. The UPDATE statement typically includes a SET clause that specifies the new values for the columns being updated, and a WHERE clause that identifies which rows should be updated.

```
UPDATE customers
SET email = 'new_email@example.com', phone = '555-1234'
WHERE customer_id = 123
```

## DELETE

The DELETE statement in SQL is used to remove one or more rows from a table. It allows you to delete specific rows or all rows in a table. The DELETE statement typically includes a WHERE clause that identifies which rows should be deleted.

```
DELETE FROM customers
WHERE customer_id = 123
```

# Data Selection

## Simple Selection

The SELECT statement in SQL is used to retrieve data from one or more tables in a database. It allows you to specify which columns you want to retrieve, and can include a WHERE clause to filter the results based on certain criteria.

```
SELECT name, email
FROM customers
```

## Joins

In a relational database, data is typically split across multiple tables. A join operation allows you to combine data from two or more tables based on a common column.

```
SELECT customers.name, orders.order_number
FROM customers
INNER JOIN orders
ON customers.customer_id = orders.customer_id
```

# Data Definition Language

Data Definition Language (DDL) is a subset of SQL (Structured Query Language) used to define and manage the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, and views.

## Create

The CREATE statement in SQL is used to create a new database object, such as a table, view, or index. When creating a new object, you typically specify its name, along with the names and data types of the columns that it will contain.

```
CREATE TABLE customers (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  email VARCHAR(100),
  phone VARCHAR(20)
)
```

## Drop

The DROP statement in SQL is used to delete an existing database object, such as a table, view, or index. When dropping an object, you typically specify its name, and the database management system will permanently remove it from the database.

```
DROP TABLE customers
```

## Alter

The ALTER statement in SQL is used to modify an existing database object, such as a table, view, or index. When altering an object, you can make a variety of changes, such as adding or deleting columns, changing the data type of a column, or adding or deleting constraints.

```
ALTER TABLE customers
ADD COLUMN address VARCHAR(100)
```